@import './FA/font-awesome';
@import 'theme';

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1, h2, h3 {
  font-family: 'Crete Round', serif;
  &.section-header {
    max-width: 1000px;
    margin: 10px auto;
    padding: 10px;
    border-bottom: 1px $theme-black solid;
  }
}
