@import './FA/font-awesome';
html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1, h2, h3 {
  font-family: 'Crete Round', serif;
}
