@import 'theme';

header, footer {
  background-color: $theme-black;
  color: #fff;
  padding: 0 25px;
  .content {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
}
.skills {
  text-align: center;
  margin-bottom: 50px;
  h2 {
    text-align: left;
  }
  .skill {
    max-width: 500px;
    display: inline-block;
    text-align: left;
    margin: 10px;
  }
}
nav {
  .navbar-logo a.logo img {
    width: 100%;
    max-width: 150px;
  }
  ul.pure-menu-list {
    li {
      padding: 0 7px;
    }
  }
}
footer {
  font-size: .8em;
  text-align: center;
  padding: 25px 10px;
  p {
    color: $theme-gray-light;
    text-align: left;
    font-size: .95em;
  }
  a {
    color: $theme-red;
  }
}
