@import 'theme';

header, footer {
  background-color: $theme-black;
  color: #fff;
  padding: 0 25px;
  .content {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
}
nav {
  .navbar-logo a.logo img {
    width: 100%;
    max-width: 150px;
  }
  ul.menu {
    padding: 15px 0;
    li {
      padding: 0 7px;
      a {
        color: #fff;
      }
    }
  }
}
.skills {
  h2 {}
  .skill {}
}
footer {
  font-size: .8em;
  text-align: center;
  padding: 25px 10px;
  p {
    color: $theme-gray-light;
    text-align: left;
    font-size: .95em;
  }
  a {
    color: $theme-red;
  }
}
