@import 'theme';

ul.projects-list {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    width: 300px;
    padding: 0;
    display: inline-block;
    border: 1px black dotted;
    margin: 5px 10px;
    min-height: 500px;
    img {
      width: 100%;
    }
    h2.project-title {
      text-align: center;
    }
    p.project-elevator {
      min-height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }
    h2.project-title, p.project-elevator {
      padding: 0px 25px;
    }
    a.project-link {
      margin-top: 10px;
      background-color: $theme-black;
      color: $theme-gray-light;
      display: block;
      text-align: center;
      padding: 10px 5px;
      transition: all 0.1s ease;
      text-decoration: none;
      font-weight: 500;
      &:hover {
        background-color: $theme-red;
        color: #fff;
      }
    }
    &:after {
      content: "";
      clear:both;
      display: block;
    }
  }
  &:after {
    content: "";
    clear:both;
    display: block;
  }
}
