<header>
  <nav class="navbar navbar-invert">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Invocie App</a>
    </div>
  </nav>
</header>
<div class="row">
  <div>
    <div class="jumbotron">
      <h1>Invoice App</h1>
      <p>{{msg}}</p>
      <div *ngIf="activeUser">
        {{activeUser.name}}
      </div>
    </div>
  </div>
  <div>
    <bio></bio>
    <ul *ngIf="users">
      <li *ngFor="let user of users" class="list-group-item" (click)="selectUser(user)" [class.active]="user === activeUser">
        <p>{{user.name}}</p>
        <p>{{user.username}}</p>
      </li>
    </ul>
  </div>
</div>
<footer class="text-center">
  COPYRIGHT &copy; 2016
</footer>
